/* cambia el color de fondo pero desactiva el modo oscuro
body {
    background-color: #ffffff;
}
*/
/* Para modificar la imagen del encabezado*/
.nav-container img{
    width:"1200";
    height:"400" ;
}


.post-title, .catalogue-title{
    color: rgb(120, 120, 120);
}
.nav a {
    color: rgb(120, 120, 120);
}
.indexhero{
    margin-top: 0rem; /*Separación de head a redes sociales*/
    /*background-color: rgb(255, 0, 0);*/
    color: rgb(130, 130, 130);
    text-align:center;
    padding: 0rem 1rem;
}
.indexhero h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin: 1rem;
}
.indexhero p {
    font-size: 1.5rem;  /* tamaño letra*/
    margin-bottom: 0rem;  
    color: rgb(80, 80, 80); /*Color cercano a title*/
}

.indexhero a {
    font-size: 1rem;  /* tamaño letra*/
    margin-bottom: 0.5rem;  
    text-align:center;
    color: rgb(120, 120, 120);
}