
<!-- Escabezado antes estaban los iconos
<div class="indexhero">
    <h1>InmoCASAS</h1>
    <p>Redes sociales</p>

    <a href = "https:\\www.github.com\jabpcomplex" target="_blank">Github</a>
    <a href = "https:\\www.youtube.com\channel\UCtV7m_vjP1Vk6jY42OK_qcw\" target="_blank"> Youtube</a>
    <a href = "https:\\www.instagram.com" target="_blank"> Instagram</a>

</div>



Menu de iconos dinámico

<p>Redes sociales</p>
<div class ="icons">
  <a href="#" class = "icon icon--instagram">
    <i class = "ri-instagram-line"></i>
  </a>
</div>
-->