
<div class="indexhero">
    <!--<h1>InmoCASAS</h1>-->
    <p>Redes sociales</p>
   <!-- <a href = "https:\\www.github.com" target="_blank"><img src="{{.Site.BaseURL}}/images/git_icon.png" width="70" height="40" \t ></a> -->
    <a href = "https:\\www.github.com\jabpcomplex" target="_blank">Github</a>
    <a href = "https:\\www.youtube.com\channel\UCtV7m_vjP1Vk6jY42OK_qcw\" target="_blank"> Youtube</a>
    <a href = "https:\\www.instagram.com" target="_blank"> Instagram</a>
    <a href = "https:\\www.twitter.com" target="_blank"> Twitter</a>
</div>
