

<div class="indexhero">
    <!--<h1>InmoCASAS</h1>-->
    <p>Redes sociales</p>
</div>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <title>Social media icons animation</title>
         Remix icons -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <!-- Link to your stylesheet -->
        <link rel="stylesheet" href="{{.Site.Params}}/estilos.css">
      </head>
      
      <div class="icons"   >
           <a href="https:\\www.instagram.com\jabpcomplex" class="icon icon--instagram">
            <i class="ri-instagram-line"></i>
          </a>
          <a href="https:\\www.youtube.com\channel\UCtV7m_vjP1Vk6jY42OK_qcw\"  class="icon icon--youtube">
            <i class="ri-youtube-line"></i>
          </a>
          <a href="https://twitter.com/jabpcomplex" class="icon icon--twitter" >
            <i class="ri-twitter-line"></i>
          </a>
          <a href="https:\\www.linkedin.com\in\julio-alberto-bautista-9317b2231\" class="icon icon--linkedin">
            <i class="ri-linkedin-line"></i>
          </a>
          <a href="https:\\www.github.com\jabpcomplex"  class="icon icon--github">
            <i class="ri-github-line"></i>
          </a>
        </div>
