<footer>
    {{ if and .Params.comments (gt (len .Site.DisqusShortname) 0) }}
    <figure class="article-discussion">
      {{ template "_internal/disqus.html" . }}
    </figure>
    {{ end }}
    <span>
    
    <div class="indexhero">
      <p>Redes sociales</p>
      <br> Salto de línea
        <div style="text-align:center">
          <a href = "https:\\www.github.com\jabpcomplex"  style="display:inline-block" target="_blank" ><img src="{{.Site.BaseURL}}/images/icone-github-grise.png" width="50" height="50" \t ></a>&nbsp;&nbsp;
          <a href = "https:\\www.youtube.com\channel\UCtV7m_vjP1Vk6jY42OK_qcw\"  style="display:inline-block" target="_blank" ><img src="{{.Site.BaseURL}}/images/youtube_icon.webp" width="45" height="45" \t ></a>&nbsp;&nbsp;
          <a href = "https:\\www.instagram.com\" style="display:inline-block" target="_blank" ><img src="{{.Site.BaseURL}}/images/instagram-gris.png" width="45" height="45" \t ></a>&nbsp;&nbsp;
          <a href = "https:\\www.linkedin.com\in\julio-alberto-bautista-9317b2231\"  style="display:inline-block" target="_blank" ><img src="{{.Site.BaseURL}}/images/linkedin-icon.png" width="48" height="48" \t ></a>&nbsp;&nbsp;
    <!--  <a href = "https:\\www.facebook.com\"  style="display:inline-block" target="_blank" ><img src="{{.Site.BaseURL}}/images/facebook_icon.png" width="48" height="48" \t ></a> -->
      </div>
    </div> 
    &copy; <time datetime="{{ now }}">{{ now.Format "2006" }}</time> Sitio creado por {{ .Site.Author.name }}. <!-- {{ i18n "generator" | safeHTML }}-->
    </span>

</footer>
